/* Universal */

body {
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
}

/* Header */

.title {
    font-size: 50px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

a .download-link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: aquamarine;
}

/* Details Section */

.details-heading {
    font-family: Verdana, sans-serif;
    font-size: 42px;
    font-weight: 300;
}

.sub-heading {
    font-family: Verdana, sans-serif;
    font-size: 21px;
    color: gray;
}

.phone-icon {
    padding-top: 20px;
}

/* Footer */

.footer {
    text-align: right;
    color: gray;
    padding-right: 20px;
}


